*{
    
    margin: 0;
    padding:0;
}
.header{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
    border-bottom: 1px solid white;
}
.logo img{
    height: 3rem;
}
.header .label{
    color: blue;
}
.nav a{
    text-decoration: none;
    color: blue;
    font-size: 1.5rem;
    margin:0 1rem;
    
}
.nav a:hover{
    border-bottom: 1px solid white;
    color: brown;
    padding-bottom: .5rem;
}
.icons{
    display: flex;
    gap:20px;
    color: darkblue;

    
}
.fas img{
    height:2rem;
    color: azure;
}



.home{
    min-height: 50vh;
    display: flex;
    align-items: center;
    background:url(./images/banner-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100vw;
    
}

.home .content{
    max-width: 60rem;
    padding:1.5rem 7%;
    
    
    
}

.home .content h3{
    font-size: 1.5rem;
    text-transform: uppercase;
    color:darkblue;
    text-align: center;
    margin-left: 95px;
}
.home .content .organic{
    color: orange;
}
.home .content p{
    font-size: 1.5rem;
    font-weight: lighter;
    line-height: 1.8;
    padding:1rem 0;
    color:black;
    text-align: center;
}
.home .content .btn{
    
    text-transform: uppercase;
    font-size: 1rem;
    padding: 20px;
    text-decoration: none;
    gap:10px;
    border: 1px solid black;
    border-radius: 10px;
    


}
.home .content .btn:hover{
    background-color: lightpink;
}
.review h3{
    text-align: center;
    font-size: 3rem;
    color: darkblue;
}
.review .customer span{
    border:1px solid salmon;
    color: white;
    background-color: salmon;
}
.deo{
    border: 1px solid black;
    margin-left: 40px;
    margin-right: 40px;
    max-width: 70%;

}
.john .deo .image img{
    border-radius: 100px;
}
.john .deo .content p{
    
}
.john .deo .content h4{
    color: darkblue;
    font-size: 2rem;
}
.john .deo .content img{
    width:100px;
}

.blog h3{
    text-align: center;
    font-size: 3rem;
    color: darkblue;
}
.blog .our span{
    border:1px solid salmon;
    color: white;
    background-color: salmon;
}
.blogs{
    display: flex;
    flex-direction: row;
    
    gap: 20px;
    background-color: lightgray;
}
.card{
    border: 1px solid black;
    max-width: fit-content;
    max-height:100%;
    background-color: white;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.card .image img{
    width: 400px;
}
.user{
    display: flex;
    flex-direction: row;
    gap:50px;
    border-bottom: 1px solid black;
}
.user .icon{
    display: flex;
    flex-direction: row;
}
.user .icon_2{
    display: flex;
    flex-direction: row;
}
.card .user .icon img{
    width:50px;
}
.card .user .icon_2 img{
    width:50px;
    justify-self:flex-end;
}
.card .blog_con .content{
    margin-left: 20px;
}
.card .blog_con .content h3{
    color: darkblue;
    font-weight: 500;
}
.card .blog_con .content p{

}
.card .blog_con .content .btn{

    font-size: 1rem;
    
    text-decoration: none;
    gap:10px;
    border: 1px solid darkblue;
    border-radius: 5px;
}
.card .blog_con .content .btn:hover{
    background-color: salmon;
}
.footer{
    background: #fff;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color:var(--black);
    padding:1rem 0;
}

.footer .box-container .box h3 i{
    color:var(--orange);
}

.footer .box-container .box .links{
    display: block;
    font-size: 1.5rem;
    color:var(--light-color);
    padding:1rem 0;
}

.footer .box-container .box .links i{
    color:var(--orange);
    padding-right: .5rem;
}

.footer .box-container .box .links:hover i{
    padding-right: 2rem;
}


.footer .box-container .box p{
    line-height: 1.8;
    font-size: 1.5rem;
    color:var(--light-color);
    padding:1rem 0;
}



.footer .box-container .box .share a:hover{
    background: var(--orange);
    color: #fff;
}